<div class="row">
    <div class="col-md-12">
        <h1 id="h1">{{countryName}}</h1>
    </div>
</div>
<div class="row">
  <div class="col-md-3 alert alert-danger">
      <div class="container">
          <div class="row ">
              <div class="col-md-12">Total cases</div>   
          </div>
          <div class="row">
              <div class="col-md-12" >
                  <h2 *ngFor="let d of  headdata['data'] " id="ts_confirm">{{d['Confirmed']}}
                  </h2>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-3 alert alert-warning">
      <div class="container ">
          <div class="row">
              <div class="col-md-12">Active cases</div>
          </div>
          <div class="row">
              <div class="col-md-12" >
                <h2 *ngFor="let d of  headdata['data'] " id="">{{d['Active']}}</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-3 alert alert-success">
      <div class="container">
          <div class="row">
              <div class="col-md-12">Recovered cases</div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <h2 *ngFor="let d of  headdata['data'] " id="">{{d['Recovered']}}</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-3 alert alert-danger">
      <div class="container">
          <div class="row">
              <div class="col-md-12">Death cases</div>
              <div class="col-md-12" >
                <h2 *ngFor="let d of  headdata['data'] " id="ts_confirm">{{d['Deaths']}}
                </h2>
            </div>
              
          </div>
      </div>
  </div>
</div>